

        body {
            background-color: #F7E9D7;
        }
        hr {
            
            border-style: dotted none none;
            border-color: grey;
            width: 3%;
            border-width: 5px
            
            
        }
        h1 {
            color:#5584AC;
            font-family: fantasy;
        }
        h3 {
            color: #5584AC;
         }


        
